.contact_us-container{
    background-color: #2A8BF2;
    padding-top: 3rem;
    padding: 0.8rem;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact_us_text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 30vh;
    
}

.form_contactUs{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-right: 5rem;
}

.input_container{
    display: flex;
    flex-direction: column;
    background-color: #2A8BF2;
    width: 90%;
    margin-left: 50%;
}

.input_label{
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.2rem;
    font-family: 'Baloo 2';
}

.input_ContactUs{
    background-color: #2A8BF2;
    border: none;
    border-bottom: 1px solid #fff;
}

.input_ContactUs-submit{
    width: 50%;
    margin-left: 25%;
    background-color: #fcfcfc;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-weight: bold;
    border: none;
    color: #004199;
    font-family: 'Baloo 2';
}

.input_ContactUs:focus{

    outline: none;
}

@media (min-width: 700px) {

    .contact_us-container{
        background-color: #2A8BF2;
        padding-top: 3rem;
        padding: 0.8rem;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
  
    .contact_us_text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 45%;
        margin-left: -15%;
        margin-right: 1%;
    }
    .form_contactUs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 25%;
        height: 45vh;
        margin-left: -20%;
    }
    .input_container{
        display: flex;
        flex-direction: column;
        background-color: #2A8BF2;
        width: 80%;
        margin-left: 10%;
    }
}